ion-avatar{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.foto-btn{
    position: relative;
    bottom: 25px;
}

h2{
    margin-bottom: 0;
}

h3{
    margin-top: 0;
    margin-bottom: 25%;
}

ion-item{
    --padding-top: 15px
}

.icono-vacio{
    font-size: 150px;
    opacity: 30%;
}