<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">

  <ion-avatar>
    <img *ngIf="this.usuario?.imagen" [src]="this.usuario.imagen" />

    <ion-icon *ngIf="!this.usuario?.imagen" class="icono-vacio" name="person-circle-outline"></ion-icon>
  </ion-avatar>

  <ion-button class="foto-btn" (click)="tomarAvatar()" mode="ios" size="small" shape="round">
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>

  <h2>{{this.usuario?.nombre}}</h2>
  <h3>{{this.usuario?.apellidos}}</h3>

  <ion-button (click)="cambiarPwd()" expand="block" shape="round" color="warning">
    restablecer contraseña
  </ion-button>

</ion-content>
