ion-item{
    border-radius: 10px;

    ion-label, ion-checkbox{
        font-weight: bolder;
        font-size: larger;
    }
}

.image-icon{
    font-size: 130px;
    opacity: 30%;
}

ion-avatar{
    width: 200px;
    height: 200px;
    --border-radius: 15px;
    margin: 0 auto;
}