<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{this.libro ? 'Detalles' : 'Añadir Libro'}}</ion-title>


    <ion-buttons slot="start" *ngIf="!this.libro">
      <ion-back-button [defaultHref]="'home'"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="this.libro" class="ion-margin-end">
      <ion-button (click)="this.confirmarEliminarLibro()">
        <ion-icon slot="icon-only" name="trash-outline" size="large" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{this.libro ? 'Detalles' : 'Añadir Libro'}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="addBookForm" (ngSubmit)="onSubmit()" class="ion-padding ion-text-center">

    <ion-avatar *ngIf="addBookForm.value['imagen']">
      <img [src]="addBookForm.value['imagen']"/>
    </ion-avatar>

    <ion-icon class="image-icon" *ngIf="!addBookForm.value['imagen']" name="image-outline"></ion-icon>

    <ion-button (click)="takeImage()" expand="full" fill="clear" shape="round" class="ion-margin">
      Tomar Foto
    </ion-button>

    <ion-item class="ion-margin">
      <ion-label position="floating">Título <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="titulo" type="text"></ion-input>
    </ion-item>

    <ion-item class="ion-margin">
      <ion-label position="floating">Autor <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="autor" type="text"></ion-input>
    </ion-item>

    <ion-item class="ion-margin">
      <ion-checkbox formControlName="leido" labelPlacement="start" checked="false">Leído</ion-checkbox>
    </ion-item>

    <ion-item class="ion-margin">
      <ion-label position="floating">Comentario</ion-label>
      <ion-textarea formControlName="comentario"></ion-textarea>
    </ion-item>

    <ion-button expand="full" fill="solid" shape="round" type="submit" [disabled]="addBookForm.invalid"
      class="ion-margin">
      {{this.libro ? 'actualizar' : 'añadir'}}
    </ion-button>
  </form>

</ion-content>