<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio de Sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src="../../../assets/images/libro.png"></ion-img>


  <form [formGroup]="loginForm" (ngSubmit)="login()" class="ion-padding">
    <ion-item class="ion-margin">
      <ion-label position="floating">Correo Electrónico <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="email" type="text"></ion-input>
      <ion-icon slot="end" name="mail" class="ion-margin-top"></ion-icon>
    </ion-item>
    <ion-note color="danger" class="ion-margin-start"
      *ngIf="((this.loginForm.get('email').dirty || this.loginForm.get('email').touched) && this.loginForm.get('email').errors)">Email
      inválido</ion-note>

    <ion-item class="ion-margin">
      <ion-label position="floating">Contraseña <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="password" [type]="this.verContrasena ? 'text' : 'password'"
        id="pwd"></ion-input>
      <ion-icon slot="end" [name]="this.verContrasena ? 'eye-off' : 'eye'" class="ion-margin-top"
        (click)="verPwd()"></ion-icon>
    </ion-item>
    <ion-note color="danger" class="ion-margin-start"
      *ngIf="((this.loginForm.get('password').dirty || this.loginForm.get('password').touched) && this.loginForm.get('password').errors)">La
      contraseña debe tener al menos 6 caracteres</ion-note>

    <div id="pwd-olvidada">
      <a class="ion-margin" [routerLink]="['/recuperar-pwd']">¿Contraseña olvidada?</a>
    </div>

    <ion-button expand="full" shape="round" color="primary" type="submit" [disabled]="loginForm.invalid"
      class="ion-margin">
      iniciar sesión
    </ion-button>
  </form>


  <div>
    <p class="ion-margin-start">¿No tienes cuenta? <a [routerLink]="['/registro']">Regístrate ahora</a></p>
  </div>

</ion-content>