<ion-app>
  <ion-menu contentId="principal" menuId="first" side="start" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle>
        <ion-item [routerLink]="['/home']">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          Home
        </ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>
          <ion-icon slot="start" name="person-outline"></ion-icon>
          Perfil
        </ion-item>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>