<app-menu></app-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tu Biblioteca</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>

    <ion-button slot="end" (click)="logout()" fill="clear" color="danger">
      <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" id="principal">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tu Biblioteca</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment value="todos" mode="ios" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="leidos">
      <ion-label>Leídos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pendientes">
      <ion-label>Pendientes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-searchbar placeholder="Buscar Título" inputmode="text" type="text" (ionInput)="buscar($event)" [debounce]="500" showCancelButton="focus" class="ion-margin-bottom"></ion-searchbar>

  <div *ngIf="this.segmentoElegido === 'todos'">
    <div *ngIf="libros.length !== 0; else elseBlock1">
      <ion-card *ngFor="let libro of libros | filtro:tituloBuscado:'titulo'" (click)="abrirLibro(libro)" mode="ios">
        <ion-img [src]="libro.imagen"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>{{libro.autor}}</ion-card-subtitle>
          <ion-card-title>{{libro.titulo}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{libro.comentario}}
        </ion-card-content>
      </ion-card>
    </div>

  </div>
  <ng-template #elseBlock1 class="ion-margin-vertical">
    <ion-title>No tienes libros en tu biblioteca</ion-title>
  </ng-template>


  <div *ngIf="this.segmentoElegido === 'leidos'">
    <div *ngIf="librosLeidos.length !== 0; else elseBlock2">
      <ion-card *ngFor="let libro of librosLeidos | filtro:tituloBuscado:'titulo'" (click)="abrirLibro(libro)" mode="ios">
        <ion-img [src]="libro.imagen"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>{{libro.autor}}</ion-card-subtitle>
          <ion-card-title>{{libro.titulo}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{libro.comentario}}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <ng-template #elseBlock2 class="ion-margin-vertical ion-margin-start">
    <ion-title *ngIf="this.libros.length === 0">No tienes libros en tu biblioteca</ion-title>
    <ion-title *ngIf="this.libros.length !== 0">Aún no has leido ningún libro</ion-title>
  </ng-template>

  <div *ngIf="this.segmentoElegido === 'pendientes'">
    <div *ngIf="librosPendientes.length !== 0; else elseBlock3">
      <ion-card *ngFor="let libro of librosPendientes | filtro:tituloBuscado:'titulo'" (click)="abrirLibro(libro)" mode="ios">
        <ion-img [src]="libro.imagen"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>{{libro.autor}}</ion-card-subtitle>
          <ion-card-title>{{libro.titulo}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{libro.comentario}}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <ng-template #elseBlock3 class="ion-margin-vertical">
    <ion-title *ngIf="this.libros.length === 0">No tienes libros en tu biblioteca</ion-title>
    <ion-title *ngIf="this.libros.length !== 0">Has leído toda tu biblioteca</ion-title>
  </ng-template>


  <ion-fab vertical="bottom" horizontal="end" class="ion-margin" slot="fixed" *ngIf="this.segmentoElegido === 'todos'">
    <ion-fab-button [routerLink]="['/anadir-libro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>