<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tu Biblioteca</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>

    <ion-button slot="end" (click)="logout()" fill="clear">
      <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tu Biblioteca</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="libros.length !== 0; else elseBlock">
    <ion-card *ngFor="let libro of libros" (click)="abrirLibro(libro)">
      <ion-card-header>
        <ion-card-title>{{libro.titulo}}</ion-card-title>
        <ion-card-subtitle>{{libro.autor}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
  
  <ng-template #elseBlock class="ion-margin-vertical">
    <ion-title>Aún no tienes libros en tu biblioteca</ion-title>
  </ng-template>


  <ion-fab vertical="bottom" horizontal="end" class="ion-margin">
    <ion-fab-button [routerLink]="['/anadir-libro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>