<ion-menu contentId="principal" menuId="first" side="start" type="overlay">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3"></ion-col>
          <ion-col size="6" class="ion-padding-start">
            <ion-title>Menú</ion-title>
          </ion-col>
          <ion-col size="3"></ion-col>
        </ion-row>
        <ion-row class="ion-margin-start">
          <ion-col size="6">
            <ion-chip>
              <ion-icon name="book-outline"></ion-icon>
              <ion-label>{{this.totalLibros}} libros</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="6">
            <ion-chip>
              <ion-icon name="checkmark-done-outline"></ion-icon>
              <ion-label>{{this.librosLeidos}} leídos</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-text-center">

    <!-- <ion-avatar>
      <img *ngIf="this.usuario?.imagen" [src]="this.usuario.imagen" />
      <ion-icon *ngIf="!this.usuario?.imagen" class="icono-vacio" name="person-circle-outline"></ion-icon>
    </ion-avatar> -->

    <ion-menu-toggle>
      <ion-item [routerLink]="['/home']" button detail detailIcon="chevron-forward-circle-outline">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-label>Biblioteca</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/ver-prestamos-pendientes']" button detail detailIcon="chevron-forward-circle-outline">
        <ion-icon slot="start" name="calendar-number-outline"></ion-icon>
        <ion-label>Préstamos</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/historial-prestamos']" button detail detailIcon="chevron-forward-circle-outline">
        <ion-icon slot="start" name="archive-outline"></ion-icon>
        <ion-label>Historial Préstamos</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/perfil']" button detail detailIcon="chevron-forward-circle-outline">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-content>

  <ion-footer>
    <ion-item>
      <ion-avatar slot="start">
        <img *ngIf="this.usuario?.imagen" [src]="this.usuario.imagen" />
        <ion-icon *ngIf="!this.usuario?.imagen" name="person-circle-outline" size="large"></ion-icon>
      </ion-avatar>
      <ion-label>{{this.usuario?.nombre}} {{this.usuario?.apellidos}}</ion-label>
    </ion-item>
  </ion-footer>
</ion-menu>